<div class="topic-page">
    <div class="modal-header topicBgColor test-header container-fluid">
        <div class="row">
            <div class="col-xs-10 col-sm-10 col-md-10 test-header-left">
                <h2 class="modal-title text-lowercase">Login</h2>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 test-header-right padding">
                <button type="button" class="btn btn-test" aria-label="Left Align" ng-click="cancel()">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </div>
    <div class="modal-body topicBgColor">
        <div ng-repeat="alert in alerts" uib-alert class="alert-style" close="closeAlert()">{{alert.msg}}</div>
        <form>
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 loginLabel loginLabelPhone">
                    <label>Email</label>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 loginInput">
                    <input type="text"
                           placeholder="Email" ng-model="login.email" ng-change="closeAlert()"/>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 loginLabel loginLabelPhone">
                    <label>Password</label>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 loginInput">
                    <input type="password"
                           placeholder="Password" maxlength="16" ng-model="login.password" ng-change="closeAlert()"/>
                </div>
            </div><br/>
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6 loginLabel">
                    <button type="button" class="btn btn-test questionNavButton btn-topic-header" aria-label="Right Align" ng-click="submitPage( login )">
                        <span>Submit</span>
                    </button>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 loginInput">
                    <button type="button" class="btn btn-test questionNavButton btn-topic-header" aria-label="left Align" ng-click="cancel()">
                        <span>Cancel</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
