<div class="topic-page">
    <div class="modal-header topicBgColor test-header container-fluid">
        <div class="row">
            <div class="col-xs-10 col-sm-10 col-md-10 test-header-left">
                <h2 class="modal-title text-lowercase">{{topicName}} Result</h2>
            </div>

            <div class="col-xs-2 col-sm-2 col-md-2 test-header-right padding">
                <button type="button" class="btn btn-test" aria-label="Left Align" ng-click="cancel()">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </div>
    <div class="modal-body topicBgColor" >

        <uib-progress><uib-bar ng-repeat="bar in resultProgress track by $index" value="bar.value" type="{{bar.type}}"><span ng-hide="bar.value < 5">{{bar.value}}%</span></uib-bar></uib-progress>
        <br/>
        <div><div class="resultLegendContainer"><div class="resultLegend correct" ></div>&nbsp;Correct %</div><div class="resultLegendContainer"><div class="resultLegend wrong" ></div>&nbsp;Wrong %</div><div class="resultLegendContainer"><div class="resultLegend attended" ></div>&nbsp;Unattended %</div></div>
        <br/>
        <div ng-show="isResultReady">


                <div><h2 class="resultMsg">{{testResult}}</h2></div>
            <uib-accordion>
            <div uib-accordion-group class="panel-default" is-open="status.open">
                <uib-accordion-heading>
                    <div class="resultPanelText">Click here to see test result details. <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i></div>
                </uib-accordion-heading>

                <ul class="resultSummary resultPanelText">
                    <li>Total number of questions: <b>{{result.totalQuestions}}</b><div class="color-swatch brand-primary"></div></li>
                    <li>Questions attented: <b>{{result.totalAnswers}}</b></li>
                    <li>Answered correctly: <b>{{result.correctAnswers}}</b></li>
                    <li>Time taken: <b>{{result.timeTaken}} mins</b></li>
                    <!--<li> Each test contains total of 50 questions and total duration for test is 30 mins. </li>
                    <li> Each correct answer carries 2 marks and wrong answers will deduct 1 mark. </li>
                    <li> You can skip a question and revisit it later.</li>-->
                </ul>

            </div>

        </div>
        </uib-accordion>



    </div>
</div>
