<div class="topic-page">
    <div class="modal-header topicBgColor test-header">
        <div class="test-header-left">
            <h2 class="modal-title text-lowercase">{{topicName}} Aptitude Test</h2>
        </div>
        <div class="test-header-right">
            <button class="btn btn-topic-header" type="button" ng-click="next()">Next</button>
            <button class="btn btn-topic-header" type="button" ng-click="cancel()">Close</button>
        </div>
    </div>
    <div class="modal-body topicBgColor" >

        <h4 class="zeroMargin text-lowercase">Test instructions:</h4><br/>
        <ul>
            <li> Each test contains total of 50 questions and total duration for test is 30 mins. </li>
            <li> Each correct answer carries 2 marks and wrong answers will deduct 1 mark. </li>
            <li> You can skip a question and revisit it later.</li>
        </ul>
        <br/>
        <h4 class="zeroMargin text-lowercase">Select level of difficulty:</h4><br/>
        <div>To begin the test select the difficulty level from below options and click 'Next'</div>
        <div ng-repeat="alert in alerts" uib-alert class="alert-style" close="closeAlert($index)" dismiss-on-timeout="5000">{{alert.msg}}</div>
        <div class="btn-group-vertical" role="group" aria-label="...">
            <button type="button" class="btn btn-topics-selections btn-block" ng-click="setDifficulty( 0 )">Beginners</button>
            <button type="button" class="btn btn-topics-selections btn-default" ng-click="setDifficulty( 1 )">Intermediate</button>
            <button type="button" class="btn btn-topics-selections btn-default" ng-click="setDifficulty( 2 )">Advanced</button>
        </div>
    </div>
</div>
