<div class="topic-page">
    <div class="modal-header topicBgColor test-header container-fluid">
        <div class="row">
            <div class="col-xs-3 col-sm-3 col-md-3 test-header-left"><!--test-header-left-->
                <b>Time left: </b> {{timeLeft}}
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 test-header-center"><!--test-header-center-->
                <b>Question</b> <i>{{currentQuestion}}</i> <b>of</b> <i>{{totalQuestions}}</i>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 test-header-right"><!--test-header-right-->
                <button type="button" class="btn btn-test" aria-label="Left Align" ng-click="cancel()">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </div>
    <div class="modal-body row topicBgColor topicBody">
        <div class="col-lg-12">
        <h2 class="modal-title text-lowercase ">{{topicName}} Test</h2><br/>
        <div>
        {{currentQuestion}}. {{question}}
        </div><br/>
        <ul>
            <li ng-repeat=" opt in choices " class="topicQuestion" >
                <label for="questionOptions_{{$index}}" ><input type="radio" id="questionOptions_{{$index}}" name="questionOptions" ng-model="answers[currentQuestion]" value="{{$index}}" ng-change="answerSelected( currentQuestion, $index )" /> &nbsp;{{opt}}</label>
            </li>
        </ul>
        </div>
        <div ng-repeat="alert in alerts" uib-alert class="alert-style" close="closeAlert($index)" dismiss-on-timeout="5000">{{alert.msg}}</div>
    </div>

    <div class="modal-footer topicBgColor questionNavContainer container-fluid">
        <div class="row">

            <ul uib-pagination total-items="totalQuestions*10" ng-model="currentQuestion" max-size="0" class="col-xs-6 col-sm-6 col-md-6 questionNav" force-ellipses="false" boundary-links="true" ng-change="questionChanged()" previous-text="&lsaquo; Prev" next-text="Next &rsaquo;" first-text="&laquo;First" last-text="Last&raquo;"></ul>

            <div class="col-xs-6 col-sm-6 col-md-6 questionFinish">
                <button type="button" class="btn btn-test questionNavButton btn-topic-header" aria-label="Left Align" ng-click="finishTest()">
                    <span>Finish</span>
                </button>
            </div>

        </div>

    </div>
</div>